    .moonn {
        display: block;
        width: 250px;
        height: 250px;
        background-image: url("moon1.jpg");
        background-repeat: no-repeat;
        overflow:hidden;
        background-size: 250px 250px;
        text-indent:100%;
        
        white-space: nowrap;
    }
    .moonn:active {
        background-image: url("moon2.jpg");
        
}